* {
    font-family:sans-serif !important;
    box-sizing:border-box !important;
    outline-style:none !important;
}

body {
    animation-name:anim1;
    animation-delay:0;
    animation-duration:12s;
    animation-iteration-count:infinite;
}

@keyframes anim1 {
    0% {background-color:rgb(57,204,179);}
    25% {background-color:rgb(67,211,221);}
    50% {background-color:rgb(57,204,179);}
    75% {background-color:rgb(67,211,221);}
    100% {background-color:rgb(57,204,179);}
}
